<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- STYLES -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
	<!-- FONTS -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&family=Covered+By+Your+Grace&family=Rock+Salt&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/common.css">
	<!-- SCRIPTS -->

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

	
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js"></script>	
	
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	  <script src="/lib/common.js" ></script>
	
	<title><%=locals.pageTitle %></title>
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon-16x16.png">
<link rel="manifest" href="../../images/site.webmanifest">
<link rel="mask-icon" href="../../images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
	<style>

</style>

<style>
    .arrow {
      cursor: pointer;
    }
    .hidediv{
      display: none!important;
    }
  </style>


<script>

  var socket = io({
    path: '/socketio'
});
//an action has happened, send it to the
//server
function sendAction(a, d) {
    //console.log('--> ' + a);

    var message = {
        action: a,
        data: d
    };
//console.log('-------------------------',message);
    socket.send(message);
}

function copyToClipboard(elementId) {

  // Create a "hidden" input
  var aux = document.createElement("input");

  // Assign it the value of the specified element
  aux.setAttribute("value", document.getElementById(elementId).value);

  // Append it to the body
  document.body.appendChild(aux);

  // Highlight its content
  aux.select();

  // Copy the highlighted text
  document.execCommand("copy");

  // Remove it from the body
  document.body.removeChild(aux);

}

  $(document).ready(function(){
		$('#custome_tabs li:not(.hidediv):first a').tab('show');    
		/*
		$(document).on("click",".arrow_up",function() {    		
		  var index = $(this).data("index");		  
		  if (index > 0) {
			$(this).parents("tr").insertBefore($(this).parents("tr").prev())
		  }
		});
		$(document).on("click",".arrow_down",function() {    				
			  var index = $(this).data("index");			  
			  var rowCount = $("tbody tr").length;
			  if (index < rowCount - 1) {
				$(this).parents("tr").insertAfter($(this).parents("tr").next());
			  }
		});
		*/		
		$(document).on("change keyup","input[type='checkbox'], input[type='text'] ",function() {
			var checkboxLength = $('.chkbox_select').length;
			console.log(checkboxLength);
			var dataArr =[];
			$('.chkbox_select').each(function(e,index,html) {
				var row = $(this).closest("tr");
				var objData = {};
				//var selectBox  = $('#enable_'+e).prop("checked");
				//var textBox    = $('#label_'+e).val();
				var selectBox  = row.find("input[type='checkbox']").prop("checked");
				var textBox    = row.find(".clsLable").val();
				console.log('textBoxtextBoxtextBox', textBox);
				objData.enable = selectBox;
				objData.label  = textBox;
				objData.tabname = '';
				objData.icon   = '';
				//console.log('e', e);
				//console.log('index', index);
				dataArr.push(objData);
			});
			var postData = JSON.stringify(dataArr);			
			var getPadID = "<%=locals.boardId %>_pinboard_tab";
      
			fetch('/setTabDataToDb', {
				method: 'POST',
				headers: {
				'Content-Type': 'application/json', // Change content type to JSON
				},
				body: JSON.stringify({ postData, getPadID }), // Use JSON.stringify for the body
			})
			.then(response => {
			  if (!response.ok) {
				throw new Error(`HTTP error! Status: ${response.status}`);
			  }
			  return response.text();
			})
			.then(data => console.log(data))
			.catch(error => console.error('Fetch error:', error));
		});
  
		$(document).on("click","#share_clicks",function() {    
		  var getPadID = "<%=locals.boardId %>";
		  var baseurl = location.pathname.substring(0, location.pathname.lastIndexOf('/'));
		  var shareUniqueID = Math.round(Math.random() * 9999999); //is this big enough to assure 
		  
		  var action = "setShareCode";
		  var data = {
			  item: 'pinboard',
			  sharecode: shareUniqueID,
			  padId: getPadID
		  };
		  if (1){
			  sendAction(action, data);
		  }		  
		  $('#txtCopyCode').val(shareUniqueID);
		  $('#myShareModal').modal('show');
		});

		$(document).on("click","#edit_tab_clicks",function() {
		  var getPadID = "<%=locals.boardId %>";
		  //alert(getPadID);
		  var baseurl = location.pathname.substring(0, location.pathname.lastIndexOf('/'));		  
		  //$('#myEditTabModal').modal('show');
			$('#myEditTabModal').modal({
				show: true,
				backdrop: 'static', // Prevents closing on click outside
				keyboard: false // Prevents closing on escape key press
			});
			// Optionally, you can handle the close button click separately
			$('#myEditTabModal .close').on('click', function () {
				$('#myEditTabModal').modal('hide');
				location.reload(); // Reload the page
			});
		});		
	});			
</script>
</head>

<body>


<div class="container-fluid">    
<div class="row">    
	<div class="col-sm-12">

<div class="board-wrapper">

	<div class="row" style="background:#fff;">
		<div class="col-sm-3">
&nbsp;
            <!--<header class="site-header">
                <div class="site-header__wrapper">
                    <a class="greyheading" href="/">scrumblr</a>
                </div>
            </header>-->
            <h6 style="float: left;">

 <!--<a href="javaScript:void(0);" id="share_clicks" title="Share" alt="Share"  data-toggle="modal" data-target="#myShareModal"> -->
  <% if(locals.fullUrl) { %>
            
              <a href="javaScript:void(0);" id="share_clicks" title="Share" alt="Share">
              <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg xmlns:xl="http://www.w3.org/1999/xlink" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="-308 -223 30 30" width="30" height="30">
  <defs/>
  <g id="Share_modal" stroke-dasharray="none" fill="none" stroke="none" fill-opacity="1" stroke-opacity="1">
    <title>Share modal</title>
    <g id="Share_modal_Layer_1">
      <title>Layer 1</title>
      <g id="Graphic_133">
        <title>Share </title>
        <path d="M -293 -217.5 L -300.77273 -214.04545 L -300.77273 -208.86364 C -300.77273 -204.07045 -297.45636 -199.58818 -293 -198.5 C -288.54364 -199.58818 -285.22727 -204.07045 -285.22727 -208.86364 L -285.22727 -214.04545 L -293 -217.5 Z M -294.72727 -203.68182 L -298.18182 -207.13636 L -296.9641 -208.3541 L -294.72727 -206.1259 L -289.0359 -211.81727 L -287.81818 -210.5909 L -294.72727 -203.68182 Z" fill="black"/>
      </g>
    </g>
  </g>
</svg>
  </a>
<% } %>
</h6>
            <h6 style="float: left; margin-top: 20px; margin-left: 15px;">
 <b>SECTION:</b> <%=locals.sectionname%></h6>

        </div>
        <div class="col-sm-8">
	
	<ul class="nav nav-tabs" id="custome_tabs">

    <% for(var k=0; k < locals.tabData[0].length; k++) { %>
      <% var tabDataItem = locals.tabData[0][k] || {}; %>

      <% var mainDataItem = locals.mainFullData[k] || {}; %>
      <li class="<%= tabDataItem.enable ? 'enabled' : 'hidediv' %>"><a data-toggle="tab" href="#<%=mainDataItem.tabname %>"><%- mainDataItem.icon %> <%=tabDataItem.label%></a></li>
      
    <% } %>

	</ul>

</div>

		<div class="col-sm-1">


<h6 style="float: right;">
            
              <a href="javaScript:void(0);" id="edit_tab_clicks" title="Edit tab" alt="Edit tab">
			  <svg class="feather feather-edit" fill="none" height="20" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 28 21" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/></svg>
			  
			  
  </a>
</h6>



</div>
</div>

	  <div class="tab-content">


      <% for(var k=0; k < locals.tabData[0].length; k++) { %>
        <% var tabDataItem = locals.tabData[0][k] || {}; %>
  
        <% var mainDataItem = locals.mainFullData[k] || {}; %>

        <div id="<%=mainDataItem.tabname %>" class="tab-pane fade <%= tabDataItem.enable ? 'enabled' : 'hidediv' %>">
          <div class="h_iframe">
            <iframe  src="//<%=locals.baseurl %>/<%=locals.boardId %>_<%=mainDataItem.tabname %>" class="iframe fop" frameborder="0"></iframe>
          </div>
        </div>
      <% } %>
  


<!--
    <div id="tasks" class="tab-pane fade in active">
			<div class="h_iframe">
        <iframe  src="//<%=locals.baseurl %>/<%=locals.boardId %>_tasks" class="iframe fop" frameborder="0"></iframe>
      </div>
	  </div>

    <div id="notes" class="tab-pane fade">
      
      <div class="h_iframe">
        <iframe  src="//<%=locals.baseurl %>/<%=locals.boardId %>_notes" class="iframe fop" frameborder="0"></iframe>
      </div>
    


    </div>
    <div id="research" class="tab-pane fade">
      <div class="h_iframe">
        <iframe  src="//<%=locals.baseurl %>/<%=locals.boardId %>_research" class="iframe fop" frameborder="0"></iframe>
      </div>
    
    </div>
  -->    
  </div>
	
	
	
</div>	
	
</div>
</div>
</div>



<div id="myShareModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg xmlns:xl="http://www.w3.org/1999/xlink" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="-308 -223 30 30" width="30" height="30">
  <defs/>
  <g id="Share_modal" stroke-dasharray="none" fill="none" stroke="none" fill-opacity="1" stroke-opacity="1">
    <title>Share modal</title>
    <g id="Share_modal_Layer_1">
      <title>Layer 1</title>
      <g id="Graphic_133">
        <title>Share </title>
        <path d="M -293 -217.5 L -300.77273 -214.04545 L -300.77273 -208.86364 C -300.77273 -204.07045 -297.45636 -199.58818 -293 -198.5 C -288.54364 -199.58818 -285.22727 -204.07045 -285.22727 -208.86364 L -285.22727 -214.04545 L -293 -217.5 Z M -294.72727 -203.68182 L -298.18182 -207.13636 L -296.9641 -208.3541 L -294.72727 -206.1259 L -289.0359 -211.81727 L -287.81818 -210.5909 L -294.72727 -203.68182 Z" fill="black"/>
      </g>
    </g>
  </g>
</svg> 

<!--<span> Modal Header </span> --> </h4>
      </div>
      <div class="modal-body">
        <p><b>Pinboard: <%=locals.sectionname%></b></p>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">Share link</div>
            <div class="col-md-7"><textarea class="form-control" id="txtCopyLink" rows="4"><%=locals.fullUrl%></textarea></div>
            <div class="col-md-2"><a href="javascript:void(0);" class="btn btn-success" onclick="copyToClipboard('txtCopyLink')">Copy link</a></div>
          </div>
          <div class="row">
              <div class="col-md-12">&nbsp;</div>
          </div>
          <div class="row">
            <div class="col-md-3">Share code</div>
            <div class="col-md-7"><input type="text" class="form-control" id="txtCopyCode"></div>
            <div class="col-md-2"><a href="javascript:void(0);" class="btn btn-success" onclick="copyToClipboard('txtCopyCode')">Copy code</a></div>
          </div>

          <div class="row">
            <div class="col-md-12"><br><b>NOTE:</b> To access the board, <a href="https://assets.write.studio/share"  target="_blank">enter the share code here</a></div>
          </div>
      
         
        </div>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Edit Tab -->
<div id="myEditTabModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
<svg version="1.1"xmlns="http://www.w3.org/2000/svg"xmlns:xl="http://www.w3.org/1999/xlink"xmlns:dc="http://purl.org/dc/elements/1.1/"viewBox="-305 -220 24 24"width="24"height="24"><defs/><g id="Pinboard-black"stroke="none"stroke-dasharray="none"fill="none"stroke-opacity="1"fill-opacity="1"><title>Pinboard-black</title><rect x="-308"y="-223"width="30"height="30"/><g id="Pinboard-black_Layer_1"><g id="Group_28"><g id="Graphic_31"><path d="M -295.94754 -217.5 L -284.5 -211.90488 L -285.57686 -209.64988 L -297.0244 -215.245 Z"fill="black"/><path d="M -295.94754 -217.5 L -284.5 -211.90488 L -285.57686 -209.64988 L -297.0244 -215.245 Z"stroke="black"stroke-linecap="butt"stroke-linejoin="round"stroke-width="1"/></g><g id="Graphic_30"><path d="M -295.2213 -214.36983 L -299.5 -208.03142 L -289.4145 -203.08437 L -287.3057 -210.50495 Z"fill="black"/><path d="M -295.2213 -214.36983 L -299.5 -208.03142 L -289.4145 -203.08437 L -287.3057 -210.50495 Z"stroke="black"stroke-linecap="butt"stroke-linejoin="round"stroke-width="1"/></g><g id="Line_29"><line x1="-294.96743"y1="-205.11668"x2="-298.36095"y2="-198.5"stroke="black"stroke-linecap="round"stroke-linejoin="round"stroke-width="2"/></g></g></g></g></svg>


	<span style="top: 16px; position: absolute; left: 50px;"> Pinboard </span></h4>
      </div>
      <div class="modal-body">
        

        <div class="container-fluid">
			<table class="table">
			  <thead>
				<tr>
				  <th scope="col" class="text-center">Include</th>
				  <th scope="col">Reorder</th>
				  <th scope="col">Tab</th>
				  <th scope="col">Icon</th>
				  <th scope="col">&nbsp;</th>
				  <th scope="col">&nbsp;</th>
				  
				</tr>
			  </thead>
			  <tbody>
				  <% for(var i=0; i < 3; i++) { %>
					<% var mainDataItem = locals.mainFullData[i] || {}; %>
				  <% if (locals.tabData && locals.tabData.length > 0) { %>
					<% var tabDataItem = locals.tabData[0][i] || {}; %>
				  <% } else{ %>
					<% var tabDataItem = {}; %>
				  <% } %>
				<tr id="row_<%= i %>">
				  <th scope="row" class="text-center"><input type="checkbox" id="enable_<%= i %>" class="chkbox_select" <%= tabDataItem.enable ? 'checked' : '' %>></th>
				  <td>
					<a href="javascript:void(0);" class="arrow arrow_up" data-index="<%= i %>">
					  <svg fill="#000000" height="20px" width="18px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-8 0 20 15" xml:space="preserve">
						<g><path d="M12.703,4.285l-4-3.992c-0.391-0.39-1.022-0.39-1.413,0l-4,3.992l1.413,1.416l2.294-2.289v12.581h2V3.412l2.293,2.289L12.703,4.285z"/></g>
					  </svg>
					</a>
					<a href="javascript:void(0);" class="arrow arrow_down" data-index="<%= i %>">
					  <svg fill="#000000" width="20px" height="20px" viewBox="5 0 24 23" id="down-arrow" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color">
						<path id="primary" d="M15.71,17.29a1,1,0,0,0-1.42,0L13,18.59V3a1,1,0,0,0-2,0V18.59l-1.29-1.3a1,1,0,0,0-1.42,1.42l3,3a1,1,0,0,0,1.42,0l3-3A1,1,0,0,0,15.71,17.29Z" style="fill: rgb(0, 0, 0);"></path>
					  </svg>
					</a>
				  </td>
				  <td><input type="text" id="label_<%= i %>" class="clsLable form-control" value="<%= tabDataItem.label || 'Notes' %>" autocomplete="off" ></td>
				  <td><%- mainDataItem.icon %></td>
				  <td>&nbsp;</td>
				  <td>&nbsp;</td>
				</tr>
				<% } %>
			  </tbody>
			</table>
		
          <div class="row">
              <div class="col-md-12">&nbsp;</div>
          </div>
      
         
        </div>




      </div>
      <div class="modal-footer">
        
      </div>
    </div>

  </div>
</div>
<!-- End Edit tab -->
