<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- STYLES -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
	<!-- FONTS -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&family=Covered+By+Your+Grace&family=Rock+Salt&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/common.css">
	<!-- SCRIPTS -->

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

	
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js"></script>	
	
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	  <script src="/lib/common.js" ></script>

	<title><%=locals.pageTitle %></title>
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon-16x16.png">
<link rel="manifest" href="../../images/site.webmanifest">
<link rel="mask-icon" href="../../images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
	<style>

</style>



<script>

  var socket = io({
    path: '/socketio'
});
//an action has happened, send it to the
//server
function sendAction(a, d) {
    //console.log('--> ' + a);

    var message = {
        action: a,
        data: d
    };
//console.log('-------------------------',message);
    socket.send(message);
}

function copyToClipboard(elementId) {

  // Create a "hidden" input
  var aux = document.createElement("input");

  // Assign it the value of the specified element
  aux.setAttribute("value", document.getElementById(elementId).value);

  // Append it to the body
  document.body.appendChild(aux);

  // Highlight its content
  aux.select();

  // Copy the highlighted text
  document.execCommand("copy");

  // Remove it from the body
  document.body.removeChild(aux);

}


  $(document).ready(function(){


  $(document).on("click","#share_clicks",function() {    

      var getPadID = "<%=locals.boardId %>";
      var baseurl = location.pathname.substring(0, location.pathname.lastIndexOf('/'));
      var shareUniqueID = Math.round(Math.random() * 9999999); //is this big enough to assure 
      
      var action = "setShareCode";
      var data = {
          item: 'planner',
          sharecode: shareUniqueID,
          padId: getPadID
      };
      if (1){
          sendAction(action, data);
      }
      
      $('#txtCopyCode').val(shareUniqueID);
      $('#myShareModal').modal('show');
    });
	});			
</script>
</head>

<body>


<div class="container-fluid">    
<div class="row">    
	<div class="col-sm-12">

<div class="board-wrapper">

	<div class="row" style="background:#fff;">
		<div class="col-sm-3">
&nbsp;
            <!--<header class="site-header">
                <div class="site-header__wrapper">
                    <a class="greyheading" href="/">scrumblr</a>
                </div>
            </header>-->
            <h6 style="float: left;">

 <!--<a href="javaScript:void(0);" id="share_clicks" title="Share" alt="Share"  data-toggle="modal" data-target="#myShareModal"> -->
  <% if(locals.fullUrl) { %>
            
              <a href="javaScript:void(0);" id="share_clicks" title="Share" alt="Share">
              <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg xmlns:xl="http://www.w3.org/1999/xlink" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="-308 -223 30 30" width="30" height="30">
  <defs/>
  <g id="Share_modal" stroke-dasharray="none" fill="none" stroke="none" fill-opacity="1" stroke-opacity="1">
    <title>Share modal</title>
    <g id="Share_modal_Layer_1">
      <title>Layer 1</title>
      <g id="Graphic_133">
        <title>Share </title>
        <path d="M -293 -217.5 L -300.77273 -214.04545 L -300.77273 -208.86364 C -300.77273 -204.07045 -297.45636 -199.58818 -293 -198.5 C -288.54364 -199.58818 -285.22727 -204.07045 -285.22727 -208.86364 L -285.22727 -214.04545 L -293 -217.5 Z M -294.72727 -203.68182 L -298.18182 -207.13636 L -296.9641 -208.3541 L -294.72727 -206.1259 L -289.0359 -211.81727 L -287.81818 -210.5909 L -294.72727 -203.68182 Z" fill="black"/>
      </g>
    </g>
  </g>
</svg>
  </a>
<% } %>
</h6>
            <h6 style="float: left; margin-top: 20px; margin-left: 15px;">
 <b>SECTION:</b> <%=locals.sectionname%></h6>

        </div>
        <div class="col-sm-8">
	
	<ul class="nav nav-tabs" id="custome_tabs">
	
		<li class="active"><a data-toggle="tab" href="#introduction">
    	
    	<svg xmlns:xl="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" xmlns:dc="http://purl.org/dc/elements/1.1/" version="1.1" viewBox="-308 -223 30 30" width="30" height="30">
  <defs/>
  <g id="Book-green" stroke="none" stroke-dasharray="none" fill="none" stroke-opacity="1" fill-opacity="1">
    <title>Book-green</title>
    <rect x="-308" y="-223" width="30" height="30"/>
    <g id="Book-green_Layer_1">
      <title>Layer 1</title>
      <g id="Group_16">
        <g id="Graphic_10">
          <path d="M -283.59376 -206.67132 L -281.01564 -204.12757 L -292.4625 -198.66195 C -292.4625 -198.66195 -293.975 -197.97445 -294.6969 -199.07445 C -297.51564 -203.47445 -283.59376 -206.67132 -283.59376 -206.67132 Z" fill="#228b22"/>
        </g>
        <g id="Graphic_11">
          <path d="M -292.7375 -201.85882 C -292.7375 -201.85882 -294.9375 -201.10257 -294.525 -199.62445 C -294.1125 -198.11195 -292.3594 -199.04007 -292.3594 -199.04007 L -281.4969 -204.0932 C -281.4969 -204.0932 -282.11564 -205.70882 -281.01564 -206.77445 Z" fill="#d9e3e8"/>
        </g>
        <g id="Graphic_12">
          <path d="M -290.91564 -217.0182 L -280.5 -206.87757 L -292.80626 -202.06507 L -300.7125 -214.37132 Z" fill="#46b850"/>
        </g>
        <g id="Graphic_13">
          <path d="M -290.60626 -214.71507 L -288.6125 -212.58382 L -296.0719 -209.90257 L -297.825 -212.6182 Z" fill="white"/>
        </g>
        <g id="Graphic_14">
          <path d="M -281.53126 -205.67445 L -288.7844 -202.7182 L -281.6344 -205.98382 Z M -281.6344 -204.7807 L -289.36876 -201.58382 L -281.7719 -205.12445 Z M -281.56564 -204.29945 L -291.43126 -200.03695 L -281.70314 -204.60882 Z" fill="#94989b"/>
        </g>
        <g id="Graphic_15">
          <path d="M -294.6969 -199.07445 C -295.9 -201.58382 -292.80626 -202.0307 -292.80626 -202.0307 L -300.7125 -214.37132 C -300.7125 -214.37132 -302.5 -214.4057 -302.5 -212.54945 C -302.5 -211.7932 -302.15626 -211.20882 -302.15626 -211.20882 Z" fill="#228b22"/>
        </g>
      </g>
    </g>
  </g>
</svg> Introduction</a>
</li>
	

		
		
		<li><a data-toggle="tab" href="#keypoints">
<svg xmlns:xl="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" xmlns:dc="http://purl.org/dc/elements/1.1/" version="1.1" viewBox="-308 -223 30 30" width="30" height="30">
  <defs/>
  <g id="Book-blue" stroke="none" stroke-dasharray="none" fill="none" stroke-opacity="1" fill-opacity="1">
    <title>Book-blue</title>
    <rect x="-308" y="-223" width="30" height="30"/>
    <g id="Book-blue_Layer_1">
      <title>Layer 1</title>
      <g id="Group_16">
        <g id="Graphic_10">
          <path d="M -283.59376 -206.67132 L -281.01564 -204.12757 L -292.4625 -198.66195 C -292.4625 -198.66195 -293.975 -197.97445 -294.6969 -199.07445 C -297.51564 -203.47445 -283.59376 -206.67132 -283.59376 -206.67132 Z" fill="#2a8fd8" fill-opacity=".97"/>
        </g>
        <g id="Graphic_11">
          <path d="M -292.7375 -201.85882 C -292.7375 -201.85882 -294.9375 -201.10257 -294.525 -199.62445 C -294.1125 -198.11195 -292.3594 -199.04007 -292.3594 -199.04007 L -281.4969 -204.0932 C -281.4969 -204.0932 -282.11564 -205.70882 -281.01564 -206.77445 Z" fill="#d9e3e8"/>
        </g>
        <g id="Graphic_12">
          <path d="M -290.91564 -217.0182 L -280.5 -206.87757 L -292.80626 -202.06507 L -300.7125 -214.37132 Z" fill="#55bfff"/>
        </g>
        <g id="Graphic_13">
          <path d="M -290.60626 -214.71507 L -288.6125 -212.58382 L -296.0719 -209.90257 L -297.825 -212.6182 Z" fill="white"/>
        </g>
        <g id="Graphic_14">
          <path d="M -281.53126 -205.67445 L -288.7844 -202.7182 L -281.6344 -205.98382 Z M -281.6344 -204.7807 L -289.36876 -201.58382 L -281.7719 -205.12445 Z M -281.56564 -204.29945 L -291.43126 -200.03695 L -281.70314 -204.60882 Z" fill="#94989b"/>
        </g>
        <g id="Graphic_15">
          <path d="M -294.6969 -199.07445 C -295.9 -201.58382 -292.80626 -202.0307 -292.80626 -202.0307 L -300.7125 -214.37132 C -300.7125 -214.37132 -302.5 -214.4057 -302.5 -212.54945 C -302.5 -211.7932 -302.15626 -211.20882 -302.15626 -211.20882 Z" fill="#47a2f1"/>
        </g>
      </g>
    </g>
  </g>
</svg>

		Key Points</a></li>
		
    <li><a data-toggle="tab" href="#paragraph">
        <svg xmlns:xl="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" xmlns:dc="http://purl.org/dc/elements/1.1/" version="1.1" viewBox="-308 -223 30 30" width="30" height="30">
  <defs/>
  <g id="Book-orange" stroke="none" stroke-dasharray="none" fill="none" stroke-opacity="1" fill-opacity="1">
    <title>Book-orange</title>
    <rect x="-308" y="-223" width="30" height="30"/>
    <g id="Book-orange_Layer_1">
      <title>Layer 1</title>
      <g id="Group_16">
        <g id="Graphic_10">
          <path d="M -283.59376 -206.67132 L -281.01564 -204.12757 L -292.4625 -198.66195 C -292.4625 -198.66195 -293.975 -197.97445 -294.6969 -199.07445 C -297.51564 -203.47445 -283.59376 -206.67132 -283.59376 -206.67132 Z" fill="#e76d23"/>
        </g>
        <g id="Graphic_11">
          <path d="M -292.7375 -201.85882 C -292.7375 -201.85882 -294.9375 -201.10257 -294.525 -199.62445 C -294.1125 -198.11195 -292.3594 -199.04007 -292.3594 -199.04007 L -281.4969 -204.0932 C -281.4969 -204.0932 -282.11564 -205.70882 -281.01564 -206.77445 Z" fill="#d9e3e8"/>
        </g>
        <g id="Graphic_12">
          <path d="M -290.91564 -217.0182 L -280.5 -206.87757 L -292.80626 -202.06507 L -300.7125 -214.37132 Z" fill="#ffa500"/>
        </g>
        <g id="Graphic_13">
          <path d="M -290.60626 -214.71507 L -288.6125 -212.58382 L -296.0719 -209.90257 L -297.825 -212.6182 Z" fill="white"/>
        </g>
        <g id="Graphic_14">
          <path d="M -281.53126 -205.67445 L -288.7844 -202.7182 L -281.6344 -205.98382 Z M -281.6344 -204.7807 L -289.36876 -201.58382 L -281.7719 -205.12445 Z M -281.56564 -204.29945 L -291.43126 -200.03695 L -281.70314 -204.60882 Z" fill="#94989b"/>
        </g>
        <g id="Graphic_15">
          <path d="M -294.6969 -199.07445 C -295.9 -201.58382 -292.80626 -202.0307 -292.80626 -202.0307 L -300.7125 -214.37132 C -300.7125 -214.37132 -302.5 -214.4057 -302.5 -212.54945 C -302.5 -211.7932 -302.15626 -211.20882 -302.15626 -211.20882 Z" fill="#e76d23"/>
        </g>
      </g>
    </g>
  </g>
</svg>
    Paragraph</a>

    </li>
	
	<li><a data-toggle="tab" href="#summary">
        
		<svg xmlns:xl="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" xmlns:dc="http://purl.org/dc/elements/1.1/" version="1.1" viewBox="-308 -223 30 30" width="30" height="30">
  <defs/>
  <g id="Book-red" stroke="none" stroke-dasharray="none" fill="none" stroke-opacity="1" fill-opacity="1">
    <title>Book-red</title>
    <rect x="-308" y="-223" width="30" height="30"/>
    <g id="Book-red_Layer_1">
      <title>Layer 1</title>
      <g id="Group_16">
        <g id="Graphic_10">
          <path d="M -283.59376 -206.67132 L -281.01564 -204.12757 L -292.4625 -198.66195 C -292.4625 -198.66195 -293.975 -197.97445 -294.6969 -199.07445 C -297.51564 -203.47445 -283.59376 -206.67132 -283.59376 -206.67132 Z" fill="#962c2c"/>
        </g>
        <g id="Graphic_11">
          <path d="M -292.7375 -201.85882 C -292.7375 -201.85882 -294.9375 -201.10257 -294.525 -199.62445 C -294.1125 -198.11195 -292.3594 -199.04007 -292.3594 -199.04007 L -281.4969 -204.0932 C -281.4969 -204.0932 -282.11564 -205.70882 -281.01564 -206.77445 Z" fill="#d9e3e8"/>
        </g>
        <g id="Graphic_12">
          <path d="M -290.91564 -217.0182 L -280.5 -206.87757 L -292.80626 -202.06507 L -300.7125 -214.37132 Z" fill="#ed4c5c"/>
        </g>
        <g id="Graphic_13">
          <path d="M -290.60626 -214.71507 L -288.6125 -212.58382 L -296.0719 -209.90257 L -297.825 -212.6182 Z" fill="white"/>
        </g>
        <g id="Graphic_14">
          <path d="M -281.53126 -205.67445 L -288.7844 -202.7182 L -281.6344 -205.98382 Z M -281.6344 -204.7807 L -289.36876 -201.58382 L -281.7719 -205.12445 Z M -281.56564 -204.29945 L -291.43126 -200.03695 L -281.70314 -204.60882 Z" fill="#94989b"/>
        </g>
        <g id="Graphic_15">
          <path d="M -294.6969 -199.07445 C -295.9 -201.58382 -292.80626 -202.0307 -292.80626 -202.0307 L -300.7125 -214.37132 C -300.7125 -214.37132 -302.5 -214.4057 -302.5 -212.54945 C -302.5 -211.7932 -302.15626 -211.20882 -302.15626 -211.20882 Z" fill="#c94747"/>
        </g>
      </g>
    </g>
  </g>
</svg>

		
		
    Summary</a>

    </li>
    

    
    
    

	</ul>

</div>

		<div class="col-sm-1">
&nbsp;
</div>
</div>

	  <div class="tab-content">


    <div id="introduction" class="tab-pane fade in active">
		
		
	
	
	<div class="h_iframe">
        <iframe  src="//<%=locals.baseurl %>/<%=locals.boardId %>_introduction" class="iframe fop" frameborder="0"></iframe>
    </div>
	
	
	
	
	  
	  
	  
    </div>
    <div id="keypoints" class="tab-pane fade">
      
      <div class="h_iframe">
        <iframe  src="//<%=locals.baseurl %>/<%=locals.boardId %>_keypoints" class="iframe fop" frameborder="0"></iframe>
      </div>
    


    </div>
    <div id="paragraph" class="tab-pane fade">
      <div class="h_iframe">
        <iframe  src="//<%=locals.baseurl %>/<%=locals.boardId %>_paragraph" class="iframe fop" frameborder="0"></iframe>
      </div>
    
    </div>
	
	<div id="summary" class="tab-pane fade">
      <div class="h_iframe">
        <iframe  src="//<%=locals.baseurl %>/<%=locals.boardId %>_summary" class="iframe fop" frameborder="0"></iframe>
      </div>
    
    </div>
    
  </div>
	
	
	
</div>	
	
</div>
</div>
</div>

<div id="myShareModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg xmlns:xl="http://www.w3.org/1999/xlink" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="-308 -223 30 30" width="30" height="30">
  <defs/>
  <g id="Share_modal" stroke-dasharray="none" fill="none" stroke="none" fill-opacity="1" stroke-opacity="1">
    <title>Share modal</title>
    <g id="Share_modal_Layer_1">
      <title>Layer 1</title>
      <g id="Graphic_133">
        <title>Share </title>
        <path d="M -293 -217.5 L -300.77273 -214.04545 L -300.77273 -208.86364 C -300.77273 -204.07045 -297.45636 -199.58818 -293 -198.5 C -288.54364 -199.58818 -285.22727 -204.07045 -285.22727 -208.86364 L -285.22727 -214.04545 L -293 -217.5 Z M -294.72727 -203.68182 L -298.18182 -207.13636 L -296.9641 -208.3541 L -294.72727 -206.1259 L -289.0359 -211.81727 L -287.81818 -210.5909 L -294.72727 -203.68182 Z" fill="black"/>
      </g>
    </g>
  </g>
</svg> 

<!--<span> Modal Header </span> --> </h4>
      </div>
      <div class="modal-body">
        <p><b>Planner: <%=locals.sectionname%></b></p>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">Share link</div>
            <div class="col-md-7"><textarea class="form-control" id="txtCopyLink" rows="4"><%=locals.fullUrl%></textarea></div>
            <div class="col-md-2"><a href="javascript:void(0);" class="btn btn-success" onclick="copyToClipboard('txtCopyLink')">Copy link</a></div>
          </div>
          <div class="row">
              <div class="col-md-12">&nbsp;</div>
          </div>
          <div class="row">
            <div class="col-md-3">Share code</div>
            <div class="col-md-7"><input type="text" class="form-control" id="txtCopyCode"></div>
            <div class="col-md-2"><a href="javascript:void(0);" class="btn btn-success" onclick="copyToClipboard('txtCopyCode')">Copy code</a></div>
          </div>

          <div class="row">
            <div class="col-md-12"><br><b>NOTE:</b> To access the board, <a href="https://assets.write.studio/share" target="_blank">enter the share code here</a></div>
          </div>
      
         
        </div>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>